In [1]:
library(pacman)
p_load(lubridate, AUC, tidyverse)

p_load(magrittr) 
p_load(dplyr)
p_load(tidyverse)
p_load(tidyr)
p_load(pacman)
p_load(rlist)
p_load(dummy)
p_load(e1071)
p_load(ROSE)
p_load(rotationForest)
p_load(xgboost)
p_load(caret)

p_load(FNN)
p_load(randomForest)
p_load(ranger)
p_load(GA)

also installing the dependency 'jsonlite'

Warning message:
"unable to access index for repository http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6:
  cannot open URL 'http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6/PACKAGES'"

  There is a binary version available but the source version is later:
         binary source needs_compilation
jsonlite  1.7.2  1.8.0              TRUE

  Binaries will be installed
package 'jsonlite' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'jsonlite'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jordy\anaconda3\envs\R2\Lib\R\library\00LOCK\jsonlite\libs\x64\jsonlite.dll to C:\Users\jordy\anaconda3\envs\R2\Lib\R\library\jsonlite\libs\x64\jsonlite.dll: Permission denied"Warning message:
"restored 'jsonlite'"

package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\jordy\AppData\Local\Temp\RtmpMT6yey\downloaded_packages

tidyverse installed
Warning message:
"package 'tidyverse' was built under R version 3.6.3"Warning message in p_load(lubridate, AUC, tidyverse):
"Failed to install/load:
tidyverse"also installing the dependency 'jsonlite'

Warning message:
"unable to access index for repository http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6:
  cannot open URL 'http://www.stats.ox.ac.uk/pub/RWin/bin/windows/contrib/3.6/PACKAGES'"

  There is a binary version available but the source version is later:
         binary source needs_compilation
jsonlite  1.7.2  1.8.0              TRUE

  Binaries will be installed
package 'jsonlite' successfully unpacked and MD5 sums checked

Warning message:
"cannot remove prior installation of package 'jsonlite'"Warning message in file.copy(savedcopy, lib, recursive = TRUE):
"problem copying C:\Users\jordy\anaconda3\envs\R2\Lib\R\library\00LOCK\jsonlite\libs\x64\jsonlite.dll to C:\Users\jordy\anaconda3\envs\R2\Lib\R\library\jsonlite\libs\x64\jsonlite.dll: Permission denied"Warning message:
"restored 'jsonlite'"

package 'tidyverse' successfully unpacked and MD5 sums checked

The downloaded binary packages are in
	C:\Users\jordy\AppData\Local\Temp\RtmpMT6yey\downloaded_packages

tidyverse installed
Warning message:
"package 'tidyverse' was built under R version 3.6.3"Warning message in p_load(tidyverse):
"Failed to install/load:
tidyverse"

# Models

## Mountainous model

In [92]:
table = (read.csv("Data//Mountain_races_final2.csv", sep = ";"))
head(table)
table_trainandval = table[table$Year<=2019,]
table_test = table[table$Year>2019,]

  Pos Rider                Team                           Time     Rider_ID
1 1   amador andrey        Movistar Team                  05:33:36  745
2 2   barta jan            Team NetApp                    + 00      990
3 3   de marchi alessandro Androni Giocattoli - Venezuela + 02     3103
4 4   hesjedal ryder       Garmin - Sharp                 + 20       52
5 5   tiralongo paolo      Astana Pro Team                + 46      359
6 6   uran rigoberto       Sky ProCycling                 + 46      117
  Rider_Country Team_ID Year Stage UCI ... limit_i_plain limit_i_prologue
1 CRC           5       2012 14    NA  ... 0             0
2 CZE           57      2012 14    NA  ... 0             0
3 ITA           23      2012 14    NA  ... 0             0
4 CAN           10      2012 14    NA  ... 0             0
5 ITA           25      2012 14    NA  ... 0             0
6 COL           44      2012 14    NA  ... 0             0
  limit_i_recuperation limit_i_resistance limit_i_sprint limit_i_timetrial
1 0                    0                  0              0
2 0                    0                  0              0
3 0                    0                  0              0
4 0                    0                  0              0
5 0                    0                  0              0
6 0                    0                  0              0
  prerace_i_cyclist race_b_withdrawal value_i_potentiel value_i_rank_voted
1 0                 0                 5                 0
2 0                 0                 4                 0
3 0                 0                 3                 0
4 0                 0                 5                 0
5 0                 0                 4                 0
6 0                 0                 6                 0

In [64]:
basetable_test = table_test %>% group_by(Race, Year,Team) %>% summarise(flat_mean = round(mean(FLAT))
                                             , mountain_mean = round(mean(MOUNTAIN))
                                            , downhill_mean = round(mean(DOWNHILL))
                                            ,cobbles_mean = round(mean(COBBLES))
                                            ,tt_mean = round(mean(TT)),
                                            ,prologue_mean = round(mean(PROLOGUE))
                                            ,sprint_mean = round(mean(SPRINT))
                                            ,acceleration_mean = round(mean(ACCELERATION))
                                            ,endurance_mean = round(mean(ENDURANCE))
                                            ,resistance_mean = round(mean(RESISTANCE))
                                            ,recup_mean = round(mean(RECUP))
                                            ,hill_mean = round(mean(HILL))
                                            ,attack_mean = round(mean(ATTACK))
                                            
                                            ,flat_max = round(max(FLAT))
                                            ,mountain_max = round(max(MOUNTAIN))
                                            ,downhill_max = round(max(DOWNHILL))
                                            ,cobbles_max = round(max(COBBLES))
                                            ,tt_max = round(max(TT)),
                                            ,prologue_max = round(max(PROLOGUE))
                                            ,sprint_max = round(max(SPRINT))
                                            ,acceleration_max = round(max(ACCELERATION))
                                            ,endurance_max = round(max(ENDURANCE))
                                            ,resistance_max = round(max(RESISTANCE))
                                            ,recup_max = round(max(RECUP))
                                            ,hill_max = round(max(HILL))
                                            ,attack_max = round(max(ATTACK))
                                            
                                            ,flat_min = round(min(FLAT))
                                            ,mountain_min = round(min(MOUNTAIN))
                                            ,downhill_min = round(min(DOWNHILL))
                                            ,cobbles_min = round(min(COBBLES))
                                            ,tt_min = round(min(TT)),
                                            ,prologue_min = round(min(PROLOGUE))
                                            ,sprint_min = round(min(SPRINT))
                                            ,acceleration_min = round(min(ACCELERATION))
                                            ,endurance_min = round(min(ENDURANCE))
                                            ,resistance_min = round(min(RESISTANCE))
                                            ,recup_min = round(min(RECUP))
                                            ,hill_min = round(min(HILL))
                                            ,attack_min = round(min(ATTACK))
                                    
                                            ,best_position = min(Pos))

basetable = table_trainandval %>% group_by(Race, Year,Team) %>% summarise(flat_mean = round(mean(FLAT))
                                             , mountain_mean = round(mean(MOUNTAIN))
                                            , downhill_mean = round(mean(DOWNHILL))
                                            ,cobbles_mean = round(mean(COBBLES))
                                            ,tt_mean = round(mean(TT)),
                                            ,prologue_mean = round(mean(PROLOGUE))
                                            ,sprint_mean = round(mean(SPRINT))
                                            ,acceleration_mean = round(mean(ACCELERATION))
                                            ,endurance_mean = round(mean(ENDURANCE))
                                            ,resistance_mean = round(mean(RESISTANCE))
                                            ,recup_mean = round(mean(RECUP))
                                            ,hill_mean = round(mean(HILL))
                                            ,attack_mean = round(mean(ATTACK))
                                            
                                            ,flat_max = round(max(FLAT))
                                            ,mountain_max = round(max(MOUNTAIN))
                                            ,downhill_max = round(max(DOWNHILL))
                                            ,cobbles_max = round(max(COBBLES))
                                            ,tt_max = round(max(TT)),
                                            ,prologue_max = round(max(PROLOGUE))
                                            ,sprint_max = round(max(SPRINT))
                                            ,acceleration_max = round(max(ACCELERATION))
                                            ,endurance_max = round(max(ENDURANCE))
                                            ,resistance_max = round(max(RESISTANCE))
                                            ,recup_max = round(max(RECUP))
                                            ,hill_max = round(max(HILL))
                                            ,attack_max = round(max(ATTACK))
                                            
                                            ,flat_min = round(min(FLAT))
                                            ,mountain_min = round(min(MOUNTAIN))
                                            ,downhill_min = round(min(DOWNHILL))
                                            ,cobbles_min = round(min(COBBLES))
                                            ,tt_min = round(min(TT)),
                                            ,prologue_min = round(min(PROLOGUE))
                                            ,sprint_min = round(min(SPRINT))
                                            ,acceleration_min = round(min(ACCELERATION))
                                            ,endurance_min = round(min(ENDURANCE))
                                            ,resistance_min = round(min(RESISTANCE))
                                            ,recup_min = round(min(RECUP))
                                            ,hill_min = round(min(HILL))
                                            ,attack_min = round(min(ATTACK))
                                    
                                            ,best_position = min(Pos))

`summarise()` has grouped output by 'Race', 'Year'. You can override using the `.groups` argument.
`summarise()` has grouped output by 'Race', 'Year'. You can override using the `.groups` argument.
`summarise()` has grouped output by 'Race', 'Year'. You can override using the `.groups` argument.
`summarise()` has grouped output by 'Race', 'Year'. You can override using the `.groups` argument.

In [66]:
basetable_test = (basetable_test)%>% drop_na()
basetable = (basetable)%>% drop_na()

In [68]:
basetable_test = (basetable_test)%>% drop_na()
basetable = (basetable)%>% drop_na()

#Test set
basetable_test$Top10 = as.factor(ifelse(basetable_test$best_position <=10, 1,0))
basetable_test$Top5 = as.factor(ifelse(basetable_test$best_position <=5, 1,0))
basetable_test$Top4 = as.factor(ifelse(basetable_test$best_position <=4, 1,0))
basetable_test$Top3 = as.factor(ifelse(basetable_test$best_position <=3, 1,0))
basetable_test$Top2 = as.factor(ifelse(basetable_test$best_position <=2, 1,0))

table(basetable_test$Top5)

basetable_test$minutes_from_top = NULL
basetable_test$best_position = NULL
basetable_test$Team = NULL
basetable_test$Year = NULL
basetable_test$Stage = NULL
basetable_test$Team_ID = NULL
basetable_test$Race= NULL

basetable$Top10 = as.factor(ifelse(basetable$best_position <=10, 1,0))
basetable$Top5 = as.factor(ifelse(basetable$best_position <=5, 1,0))
basetable$Top4 = as.factor(ifelse(basetable$best_position <=4, 1,0))
basetable$Top3 = as.factor(ifelse(basetable$best_position <=3, 1,0))
basetable$Top2 = as.factor(ifelse(basetable$best_position <=2, 1,0))

table(basetable$Top5)

basetable$minutes_from_top = NULL
basetable$best_position = NULL
basetable$Team = NULL
basetable$Year = NULL
basetable$Stage = NULL
basetable$Team_ID = NULL
basetable$Race= NULL

table_test<- basetable_test
table_trainval = basetable

  0   1
125 179

 0  1
58 76

 0  1
47 69

  0   1
183 255

In [162]:
varsel_boruta_xgb = c('mountain_mean', 'cobbles_mean', 'tt_mean', 'resistance_mean', 'hill_mean', 'mountain_max', 'tt_max', 'recup_max', 'hill_max', 'mountain_min')

### XGBoosting

In [70]:
set.seed(123)
#Basetable is the combination of the validation and training set
train <- basetable
yTRAIN <- train$Top5
train$Top10 = NULL
train$Top5 = NULL
train$Top4 = NULL
train$Top3 = NULL
train$Top2 = NULL

test <- basetable_test
yTEST <- test$Top5
test$Top10 = NULL
test$Top5 = NULL
test$Top4 = NULL
test$Top3 = NULL
test$Top2 = NULL

In [71]:
#Preparing the train and validation tables
table_train5 <- table_train
table_val5 <- table_val
table_test5 <- table_test
table_trainval5 <- table_trainval

table_train5$Top10 <- NULL
table_train5$Top4 <- NULL
table_train5$Top3 <- NULL
table_train5$Top2 <- NULL

table_val5$Top10 <- NULL
table_val5$Top4 <- NULL
table_val5$Top3 <- NULL
table_val5$Top2 <- NULL

table_test5$Top10 <- NULL
table_test5$Top4 <- NULL
table_test5$Top3 <- NULL
table_test5$Top2 <- NULL

table_trainval5$Top10 <- NULL
table_trainval5$Top4 <- NULL
table_trainval5$Top3 <- NULL
table_trainval5$Top2 <- NULL

In [72]:
#new train en val set
y_train <- table_train5$Top5
train <- table_train5
train$Top5<- NULL

y_val <- table_val5$Top5
val <- table_val5
val$Top5 <-NULL

y_test <- table_test5$Top5
test <- table_test
table_test5$Top5 <- NULL

#Combining test and validationset together
y_trainval <- table_trainval5$Top5
trainval <- table_trainval5
trainval$Top5<- NULL

In [73]:
train_fs <- train[varsel_boruta_xgb]
val_fs <- val[varsel_boruta_xgb]
test_fs <- test[varsel_boruta_xgb]
trainval_fs = trainval[varsel_boruta_xgb]

In [74]:
#preparing matrices
#convert all data to numeric format
trainxgb <- train_fs %>% mutate_if(is.factor, as.character)  %>% mutate_if(is.character, as.numeric)
testxgb <- test_fs %>% mutate_if(is.factor, as.character)  %>% mutate_if(is.character, as.numeric)
valxgb <- val_fs %>% mutate_if(is.factor, as.character)  %>% mutate_if(is.character, as.numeric)
trainvalxgb = trainval_fs %>% mutate_if(is.factor, as.character)  %>% mutate_if(is.character, as.numeric)

In [75]:
dtrain <- xgb.DMatrix(data = as.matrix(trainxgb), label = as.numeric(as.character(y_train))) 
dval <- xgb.DMatrix(data = as.matrix(valxgb), label = as.numeric(as.character(y_val))) 
dtest <- xgb.DMatrix(data = as.matrix(testxgb))
dtrainval = xgb.DMatrix(data = as.matrix(trainvalxgb), label = as.numeric(as.character(y_trainval)))

In [142]:
set.seed(123)
##Optimize nrounds BEST

xgbMountain <- xgb.train(
    data          = dtrainval, 
    nrounds       = 15, 
    objective     = "binary:logistic",
    eta           = 0.1,
    verbose       = 2, 
    eval_metric   = 'auc'
)

In [143]:
#Although a lower AUC the recall and precision i significantly better than both ranger and random forest
set.seed(123)
predxgb <- predict(xgbMountain,dtest)
auc <-AUC::auc(roc(predxgb,y_test))
res <-ifelse(predxgb>=0.5,1,0)
true_outcome <- y_test


confusionMatrix(as.factor(res), as.factor(true_outcome))[[2]]
TN =(confusionMatrix(as.factor(res), as.factor(true_outcome)))[[2]][1,1]
TP = (confusionMatrix(as.factor(res), as.factor(true_outcome)))[[2]][2,2]
FN = (confusionMatrix(as.factor(res), as.factor(true_outcome)))[[2]][1,2]
FP = (confusionMatrix(as.factor(res), as.factor(true_outcome)))[[2]][2,1]

accuracy = (TP+TN)/(TP+FP+TN+FN)
recall = TP/(TP+FN)
precision = TP/(TP+FP)

paste("AUC: ", auc)
paste("Accuracy: ", accuracy)
paste("Recall: ", recall)
paste("Precision: ", precision)

          Reference
Prediction  0  1
         0 27 26
         1 20 43

[1] "AUC:  0.661116250385446"

[1] "Accuracy:  0.603448275862069"

[1] "Recall:  0.623188405797101"

[1] "Precision:  0.682539682539683"

## Hilly

In [78]:
table = (read.csv("Data//Hilly_races_final.csv", sep = ";"))
head(table)

table_train = table[table$Year<=2017,]

table_val = table[(table$Year>2017)&(table$Year<=2019) ,]

table_trainandval = table[table$Year<=2019,]

table_test = table[table$Year>2019,]

  Pos Rider          Team                 Time   Rider_ID Rider_Country Team_ID
1 194 yamamoto genki Nippo - Vini Fantini #VERW! 10662    JPN           6439
2 171 yamamoto genki Nippo - Vini Fantini #VERW! 10662    JPN           6439
3 186 yamamoto genki Nippo - Vini Fantini #VERW! 10662    JPN           6439
4 117 yamamoto genki Nippo - Vini Fantini #VERW! 10662    JPN           6439
5 151 yamamoto genki Nippo - Vini Fantini #VERW! 10662    JPN           6439
6 129 yamamoto genki Nippo - Vini Fantini #VERW! 10662    JPN           6439
  Year Stage UCI ... limit_i_plain limit_i_prologue limit_i_recuperation
1 2016  4    NA  ... 0             0                0
2 2016  6    NA  ... 0             0                0
3 2016  8    NA  ... 0             0                0
4 2016 10    NA  ... 0             0                0
5 2016 11    NA  ... 0             0                0
6 2016 13    NA  ... 0             0                0
  limit_i_resistance limit_i_sprint limit_i_timetrial prerace_i_cyclist
1 0                  0              0                 0
2 0                  0              0                 0
3 0                  0              0                 0
4 0                  0              0                 0
5 0                  0              0                 0
6 0                  0              0                 0
  race_b_withdrawal value_i_potentiel value_i_rank_voted
1 0                 3                 0
2 0                 3                 0
3 0                 3                 0
4 0                 3                 0
5 0                 3                 0
6 0                 3                 0

In [79]:
basetable_train = table_train %>% group_by(Race, Year,Team) %>% summarise(flat_mean = round(mean(FLAT))
                                             , mountain_mean = round(mean(MOUNTAIN))
                                            , downhill_mean = round(mean(DOWNHILL))
                                            ,cobbles_mean = round(mean(COBBLES))
                                            ,tt_mean = round(mean(TT)),
                                            ,prologue_mean = round(mean(PROLOGUE))
                                            ,sprint_mean = round(mean(SPRINT))
                                            ,acceleration_mean = round(mean(ACCELERATION))
                                            ,endurance_mean = round(mean(ENDURANCE))
                                            ,resistance_mean = round(mean(RESISTANCE))
                                            ,recup_mean = round(mean(RECUP))
                                            ,hill_mean = round(mean(HILL))
                                            ,attack_mean = round(mean(ATTACK))
                                            
                                            ,flat_max = round(max(FLAT))
                                            ,mountain_max = round(max(MOUNTAIN))
                                            ,downhill_max = round(max(DOWNHILL))
                                            ,cobbles_max = round(max(COBBLES))
                                            ,tt_max = round(max(TT)),
                                            ,prologue_max = round(max(PROLOGUE))
                                            ,sprint_max = round(max(SPRINT))
                                            ,acceleration_max = round(max(ACCELERATION))
                                            ,endurance_max = round(max(ENDURANCE))
                                            ,resistance_max = round(max(RESISTANCE))
                                            ,recup_max = round(max(RECUP))
                                            ,hill_max = round(max(HILL))
                                            ,attack_max = round(max(ATTACK))
                                            
                                            ,flat_min = round(min(FLAT))
                                            ,mountain_min = round(min(MOUNTAIN))
                                            ,downhill_min = round(min(DOWNHILL))
                                            ,cobbles_min = round(min(COBBLES))
                                            ,tt_min = round(min(TT)),
                                            ,prologue_min = round(min(PROLOGUE))
                                            ,sprint_min = round(min(SPRINT))
                                            ,acceleration_min = round(min(ACCELERATION))
                                            ,endurance_min = round(min(ENDURANCE))
                                            ,resistance_min = round(min(RESISTANCE))
                                            ,recup_min = round(min(RECUP))
                                            ,hill_min = round(min(HILL))
                                            ,attack_min = round(min(ATTACK))
                                                                      
                                                                          
                                            ,best_position = min(Pos))

basetable_val = table_val %>% group_by(Race, Year,Team) %>% summarise(flat_mean = round(mean(FLAT))
                                             , mountain_mean = round(mean(MOUNTAIN))
                                            , downhill_mean = round(mean(DOWNHILL))
                                            ,cobbles_mean = round(mean(COBBLES))
                                            ,tt_mean = round(mean(TT)),
                                            ,prologue_mean = round(mean(PROLOGUE))
                                            ,sprint_mean = round(mean(SPRINT))
                                            ,acceleration_mean = round(mean(ACCELERATION))
                                            ,endurance_mean = round(mean(ENDURANCE))
                                            ,resistance_mean = round(mean(RESISTANCE))
                                            ,recup_mean = round(mean(RECUP))
                                            ,hill_mean = round(mean(HILL))
                                            ,attack_mean = round(mean(ATTACK))
                                            
                                            ,flat_max = round(max(FLAT))
                                            ,mountain_max = round(max(MOUNTAIN))
                                            ,downhill_max = round(max(DOWNHILL))
                                            ,cobbles_max = round(max(COBBLES))
                                            ,tt_max = round(max(TT)),
                                            ,prologue_max = round(max(PROLOGUE))
                                            ,sprint_max = round(max(SPRINT))
                                            ,acceleration_max = round(max(ACCELERATION))
                                            ,endurance_max = round(max(ENDURANCE))
                                            ,resistance_max = round(max(RESISTANCE))
                                            ,recup_max = round(max(RECUP))
                                            ,hill_max = round(max(HILL))
                                            ,attack_max = round(max(ATTACK))
                                            
                                            ,flat_min = round(min(FLAT))
                                            ,mountain_min = round(min(MOUNTAIN))
                                            ,downhill_min = round(min(DOWNHILL))
                                            ,cobbles_min = round(min(COBBLES))
                                            ,tt_min = round(min(TT)),
                                            ,prologue_min = round(min(PROLOGUE))
                                            ,sprint_min = round(min(SPRINT))
                                            ,acceleration_min = round(min(ACCELERATION))
                                            ,endurance_min = round(min(ENDURANCE))
                                            ,resistance_min = round(min(RESISTANCE))
                                            ,recup_min = round(min(RECUP))
                                            ,hill_min = round(min(HILL))
                                            ,attack_min = round(min(ATTACK))
                                          
                                    
                                            ,best_position = min(Pos))

basetable_test = table_test %>% group_by(Race, Year,Team) %>% summarise(flat_mean = round(mean(FLAT))
                                             , mountain_mean = round(mean(MOUNTAIN))
                                            , downhill_mean = round(mean(DOWNHILL))
                                            ,cobbles_mean = round(mean(COBBLES))
                                            ,tt_mean = round(mean(TT)),
                                            ,prologue_mean = round(mean(PROLOGUE))
                                            ,sprint_mean = round(mean(SPRINT))
                                            ,acceleration_mean = round(mean(ACCELERATION))
                                            ,endurance_mean = round(mean(ENDURANCE))
                                            ,resistance_mean = round(mean(RESISTANCE))
                                            ,recup_mean = round(mean(RECUP))
                                            ,hill_mean = round(mean(HILL))
                                            ,attack_mean = round(mean(ATTACK))
                                            
                                            ,flat_max = round(max(FLAT))
                                            ,mountain_max = round(max(MOUNTAIN))
                                            ,downhill_max = round(max(DOWNHILL))
                                            ,cobbles_max = round(max(COBBLES))
                                            ,tt_max = round(max(TT)),
                                            ,prologue_max = round(max(PROLOGUE))
                                            ,sprint_max = round(max(SPRINT))
                                            ,acceleration_max = round(max(ACCELERATION))
                                            ,endurance_max = round(max(ENDURANCE))
                                            ,resistance_max = round(max(RESISTANCE))
                                            ,recup_max = round(max(RECUP))
                                            ,hill_max = round(max(HILL))
                                            ,attack_max = round(max(ATTACK))
                                            
                                            ,flat_min = round(min(FLAT))
                                            ,mountain_min = round(min(MOUNTAIN))
                                            ,downhill_min = round(min(DOWNHILL))
                                            ,cobbles_min = round(min(COBBLES))
                                            ,tt_min = round(min(TT)),
                                            ,prologue_min = round(min(PROLOGUE))
                                            ,sprint_min = round(min(SPRINT))
                                            ,acceleration_min = round(min(ACCELERATION))
                                            ,endurance_min = round(min(ENDURANCE))
                                            ,resistance_min = round(min(RESISTANCE))
                                            ,recup_min = round(min(RECUP))
                                            ,hill_min = round(min(HILL))
                                            ,attack_min = round(min(ATTACK))
                              
                                    
                                            ,best_position = min(Pos))

basetable = table_trainandval %>% group_by(Race, Year,Team) %>% summarise(flat_mean = round(mean(FLAT))
                                             , mountain_mean = round(mean(MOUNTAIN))
                                            , downhill_mean = round(mean(DOWNHILL))
                                            ,cobbles_mean = round(mean(COBBLES))
                                            ,tt_mean = round(mean(TT)),
                                            ,prologue_mean = round(mean(PROLOGUE))
                                            ,sprint_mean = round(mean(SPRINT))
                                            ,acceleration_mean = round(mean(ACCELERATION))
                                            ,endurance_mean = round(mean(ENDURANCE))
                                            ,resistance_mean = round(mean(RESISTANCE))
                                            ,recup_mean = round(mean(RECUP))
                                            ,hill_mean = round(mean(HILL))
                                            ,attack_mean = round(mean(ATTACK))
                                            
                                            ,flat_max = round(max(FLAT))
                                            ,mountain_max = round(max(MOUNTAIN))
                                            ,downhill_max = round(max(DOWNHILL))
                                            ,cobbles_max = round(max(COBBLES))
                                            ,tt_max = round(max(TT)),
                                            ,prologue_max = round(max(PROLOGUE))
                                            ,sprint_max = round(max(SPRINT))
                                            ,acceleration_max = round(max(ACCELERATION))
                                            ,endurance_max = round(max(ENDURANCE))
                                            ,resistance_max = round(max(RESISTANCE))
                                            ,recup_max = round(max(RECUP))
                                            ,hill_max = round(max(HILL))
                                            ,attack_max = round(max(ATTACK))
                                            
                                            ,flat_min = round(min(FLAT))
                                            ,mountain_min = round(min(MOUNTAIN))
                                            ,downhill_min = round(min(DOWNHILL))
                                            ,cobbles_min = round(min(COBBLES))
                                            ,tt_min = round(min(TT)),
                                            ,prologue_min = round(min(PROLOGUE))
                                            ,sprint_min = round(min(SPRINT))
                                            ,acceleration_min = round(min(ACCELERATION))
                                            ,endurance_min = round(min(ENDURANCE))
                                            ,resistance_min = round(min(RESISTANCE))
                                            ,recup_min = round(min(RECUP))
                                            ,hill_min = round(min(HILL))
                                            ,attack_min = round(min(ATTACK))   
                                    
                                            ,best_position = min(Pos))

`summarise()` has grouped output by 'Race', 'Year'. You can override using the `.groups` argument.
`summarise()` has grouped output by 'Race', 'Year'. You can override using the `.groups` argument.
`summarise()` has grouped output by 'Race', 'Year'. You can override using the `.groups` argument.
`summarise()` has grouped output by 'Race', 'Year'. You can override using the `.groups` argument.

In [80]:
basetable_train = (basetable_train)%>% drop_na()
basetable_val = (basetable_val)%>% drop_na()
basetable_test = (basetable_test)%>% drop_na()
basetable = (basetable)%>% drop_na()
test_set_hilly_prescriptive = basetable_test
#Training set
basetable_train$Top10 = as.factor(ifelse(basetable_train$best_position <=10, 1,0))
basetable_train$Top5 = as.factor(ifelse(basetable_train$best_position <=5, 1,0))
basetable_train$Top4 = as.factor(ifelse(basetable_train$best_position <=4, 1,0))
basetable_train$Top3 = as.factor(ifelse(basetable_train$best_position <=3, 1,0))
basetable_train$Top2 = as.factor(ifelse(basetable_train$best_position <=2, 1,0))

table(basetable_train$Top3)

basetable_train$minutes_from_top = NULL
basetable_train$best_position = NULL
basetable_train$Team = NULL
basetable_train$Year = NULL
basetable_train$Stage = NULL
basetable_train$Team_ID = NULL
basetable_train$Race= NULL

#Validation set
basetable_val$Top10 = as.factor(ifelse(basetable_val$best_position <=10, 1,0))
basetable_val$Top5 = as.factor(ifelse(basetable_val$best_position <=5, 1,0))
basetable_val$Top4 = as.factor(ifelse(basetable_val$best_position <=4, 1,0))
basetable_val$Top3 = as.factor(ifelse(basetable_val$best_position <=3, 1,0))
basetable_val$Top2 = as.factor(ifelse(basetable_val$best_position <=2, 1,0))

table(basetable_val$Top3)


basetable_val$minutes_from_top = NULL
basetable_val$best_position = NULL
basetable_val$Team = NULL
basetable_val$Year = NULL
basetable_val$Stage = NULL
basetable_val$Team_ID = NULL
basetable_val$Race= NULL

#Test set
basetable_test$Top10 = as.factor(ifelse(basetable_test$best_position <=10, 1,0))
basetable_test$Top5 = as.factor(ifelse(basetable_test$best_position <=5, 1,0))
basetable_test$Top4 = as.factor(ifelse(basetable_test$best_position <=4, 1,0))
basetable_test$Top3 = as.factor(ifelse(basetable_test$best_position <=3, 1,0))
basetable_test$Top2 = as.factor(ifelse(basetable_test$best_position <=2, 1,0))

table(basetable_test$Top3)

basetable_test$minutes_from_top = NULL
basetable_test$best_position = NULL
basetable_test$Team = NULL
basetable_test$Year = NULL
basetable_test$Stage = NULL
basetable_test$Team_ID = NULL
basetable_test$Race= NULL

basetable$Top10 = as.factor(ifelse(basetable$best_position <=10, 1,0))
basetable$Top5 = as.factor(ifelse(basetable$best_position <=5, 1,0))
basetable$Top4 = as.factor(ifelse(basetable$best_position <=4, 1,0))
basetable$Top3 = as.factor(ifelse(basetable$best_position <=3, 1,0))
basetable$Top2 = as.factor(ifelse(basetable$best_position <=2, 1,0))

table(basetable$Top3)

basetable$minutes_from_top = NULL
basetable$best_position = NULL
basetable$Team = NULL
basetable$Year = NULL
basetable$Stage = NULL
basetable$Team_ID = NULL
basetable$Race= NULL

table_train <- basetable_train
table_test<- basetable_test
table_val <- basetable_val
table_trainval = basetable

  0   1
158 126

 0  1
84 50

 0  1
73 45

  0   1
242 176

In [163]:
varsel_boruta_ranger = c('downhill_max', 'tt_max', 'acceleration_max', 'endurance_max', 'attack_max', 'sprint_min')

### Ranger

In [82]:
set.seed(123)
train <- basetable
yTRAIN <- train$Top5
train$Top10 = NULL
train$Top5 = NULL
train$Top4 = NULL
train$Top3 = NULL
train$Top2 = NULL

test <- basetable_test
yTEST <- test$Top5
test$Top10 = NULL
test$Top5 = NULL
test$Top4 = NULL
test$Top3 = NULL
test$Top2 = NULL

In [83]:
#Boruto performs better
train = train[varsel_boruta_ranger]
test = test[varsel_boruta_ranger]

In [84]:
#No tuning
hillyModel <- ranger(x=train, y = yTRAIN, num.trees = 1000, mtry = 1, min.node.size = 3, sample.fraction = 0.750, probability = TRUE, seed = 123)
predictions =  predict(hillyModel,test)$predictions[,2]
auc = AUC::auc(roc(predictions,factor(yTEST)))
AUC::auc(roc(predictions,factor(yTEST)))

[1] 0.634182

# Prescriptive model Yellow Jersey

In [100]:
team_table = read.csv("Data//RiderData.csv", sep=";")

In [213]:
team_name = "INEOS Grenadiers"

In [214]:
team = team_table[((team_table$Team) == team_name)&((team_table$Year) == 2021),]
team = team[order(team$OVERALL, decreasing = TRUE),]

In [215]:
#UAE won multiple mountainous stages and finished top in multiple mountain races and hilly races
team_results = (table_test[(table_test$Race=="TDF")&(table_test$Year==2021)&(table_test$Team ==team_name), ])
team_top5 = unique(team_results[,c("Rider", "Team", "ID")])

In [216]:
team_top5$selected = c(1,1,1,1,1,1,1,1)

In [217]:
team = merge(x = team, y = team_top5, by = c("Team", "Rider", "ID"), all.x = TRUE)
team = team[order(team$OVERALL, decreasing = TRUE),]
team$selected[is.na(team$selected)] <- 0

In [218]:
team$selected

 [1] 1 0 1 0 1 0 0 0 1 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [219]:
#Suggestion
suggestion = (c(rep(1, 8), rep(0, nrow(team)-8)))
suggestion

 [1] 1 1 1 1 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [220]:
#Full information objective value
fullinfo = mean(team[team$selected == 1,]$OVERALL)

#Baseline objective value
baseline = mean(team[as.logical(suggestion),]$OVERALL)

## Objective function

In [223]:
objective <- function(x) {
  nr_riders = sum(x)
  
    
  if(nr_riders != 8) 
    return(-100000000000000)
  
  selection <- team[as.logical(x),]
  obj = mean(selection$OVERALL)
    
  res = selection %>% group_by(Team) %>% summarise(flat_mean = round(mean(FLAT))
                                             , mountain_mean = round(mean(MOUNTAIN))
                                            , downhill_mean = round(mean(DOWNHILL))
                                            ,cobbles_mean = round(mean(COBBLES))
                                            ,tt_mean = round(mean(TT)),
                                            ,prologue_mean = round(mean(PROLOGUE))
                                            ,sprint_mean = round(mean(SPRINT))
                                            ,acceleration_mean = round(mean(ACCELERATION))
                                            ,endurance_mean = round(mean(ENDURANCE))
                                            ,resistance_mean = round(mean(RESISTANCE))
                                            ,recup_mean = round(mean(RECUP))
                                            ,hill_mean = round(mean(HILL))
                                            ,attack_mean = round(mean(ATTACK))
                                            ,mean_size = round(mean(Size))
                                            ,mean_weight = round(mean(Weight))
                                                                          
                                            ,flat_max = round(max(FLAT))
                                            ,mountain_max = round(max(MOUNTAIN))
                                            ,downhill_max = round(max(DOWNHILL))
                                            ,cobbles_max = round(max(COBBLES))
                                            ,tt_max = round(max(TT)),
                                            ,prologue_max = round(max(PROLOGUE))
                                            ,sprint_max = round(max(SPRINT))
                                            ,acceleration_max = round(max(ACCELERATION))
                                            ,endurance_max = round(max(ENDURANCE))
                                            ,resistance_max = round(max(RESISTANCE))
                                            ,recup_max = round(max(RECUP))
                                            ,hill_max = round(max(HILL))
                                            ,attack_max = round(max(ATTACK))
                                            ,size_max = round(max(Size))
                                            ,weight_max = round(max(Weight))
                                                                          
                                            ,flat_min = round(min(FLAT))
                                            ,mountain_min = round(min(MOUNTAIN))
                                            ,downhill_min = round(min(DOWNHILL))
                                            ,cobbles_min = round(min(COBBLES))
                                            ,tt_min = round(min(TT)),
                                            ,prologue_min = round(min(PROLOGUE))
                                            ,sprint_min = round(min(SPRINT))
                                            ,acceleration_min = round(min(ACCELERATION))
                                            ,endurance_min = round(min(ENDURANCE))
                                            ,resistance_min = round(min(RESISTANCE))
                                            ,recup_min = round(min(RECUP))
                                            ,hill_min = round(min(HILL))
                                            ,attack_min = round(min(ATTACK))
                                            ,size_min = round(min(Size))
                                            ,weight_min = round(min(Weight)))
    
  res$Team = NULL
  resRanger= res[varsel_boruta_ranger]
    
  resxgb <- res %>% mutate_if(is.factor, as.character)  %>% mutate_if(is.character, as.numeric)
  resxgb = resxgb[varsel_boruta_xgb] 
  dres <- xgb.DMatrix(data = as.matrix(resxgb))  
    
    
  predictionMountain = predict(xgbMountain,dres)
  predictionHilly = predict(hillyModel,resRanger)$predictions[,2]
  print(cat(x,"->",predictionMountain))
  print(cat(x,"->",predictionHilly))
    
  return(obj*(predictionMountain)+obj*(predictionHilly)/3)
}

In [ ]:
result <- ga(type = "binary",
               fitness = objective, 
               crossover=gabin_uCrossover,
               mutation = gabin_raMutation,
               elitism = 4,
               nBits = nrow(team),
               popSize = 50, 
               maxiter = 100, 
               pmutation = 0.01, 
               monitor = FALSE,
               suggestions = suggestion,
               seed = (103))

In [225]:
selection = team[as.logical(result@population[nrow(result@population), ] ),]
(result@population[nrow(result@population), ])

 [1] 0 1 0 1 0 0 1 0 0 0 0 1 0 1 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [226]:
#Full information objective value
(team$selected)

 [1] 1 0 1 0 1 0 0 0 1 0 0 0 1 0 1 1 1 0 0 0 0 0 0 0 0 0 0 0 0 0 0

In [227]:
res = selection %>% group_by(Team) %>% summarise(flat_mean = round(mean(FLAT))
                                             , mountain_mean = round(mean(MOUNTAIN))
                                            , downhill_mean = round(mean(DOWNHILL))
                                            ,cobbles_mean = round(mean(COBBLES))
                                            ,tt_mean = round(mean(TT)),
                                            ,prologue_mean = round(mean(PROLOGUE))
                                            ,sprint_mean = round(mean(SPRINT))
                                            ,acceleration_mean = round(mean(ACCELERATION))
                                            ,endurance_mean = round(mean(ENDURANCE))
                                            ,resistance_mean = round(mean(RESISTANCE))
                                            ,recup_mean = round(mean(RECUP))
                                            ,hill_mean = round(mean(HILL))
                                            ,attack_mean = round(mean(ATTACK))
                                            ,mean_size = round(mean(Size))
                                            ,mean_weight = round(mean(Weight))
                                                                          
                                            ,flat_max = round(max(FLAT))
                                            ,mountain_max = round(max(MOUNTAIN))
                                            ,downhill_max = round(max(DOWNHILL))
                                            ,cobbles_max = round(max(COBBLES))
                                            ,tt_max = round(max(TT)),
                                            ,prologue_max = round(max(PROLOGUE))
                                            ,sprint_max = round(max(SPRINT))
                                            ,acceleration_max = round(max(ACCELERATION))
                                            ,endurance_max = round(max(ENDURANCE))
                                            ,resistance_max = round(max(RESISTANCE))
                                            ,recup_max = round(max(RECUP))
                                            ,hill_max = round(max(HILL))
                                            ,attack_max = round(max(ATTACK))
                                            ,size_max = round(max(Size))
                                            ,weight_max = round(max(Weight))
                                                                          
                                            ,flat_min = round(min(FLAT))
                                            ,mountain_min = round(min(MOUNTAIN))
                                            ,downhill_min = round(min(DOWNHILL))
                                            ,cobbles_min = round(min(COBBLES))
                                            ,tt_min = round(min(TT)),
                                            ,prologue_min = round(min(PROLOGUE))
                                            ,sprint_min = round(min(SPRINT))
                                            ,acceleration_min = round(min(ACCELERATION))
                                            ,endurance_min = round(min(ENDURANCE))
                                            ,resistance_min = round(min(RESISTANCE))
                                            ,recup_min = round(min(RECUP))
                                            ,hill_min = round(min(HILL))
                                            ,attack_min = round(min(ATTACK))
                                            ,size_min = round(min(Size))
                                            ,weight_min = round(min(Weight)))

In [228]:
 #Obj value our team
datamodel = mean(selection$OVERALL)

In [229]:
#Full information objective value
mean(team[team$selected == 1,]$OVERALL)

[1] 74.05769

In [242]:
P = 1+(datamodel - fullinfo)/(baseline-fullinfo)

In [251]:
P

[1] 0.7457627

In [250]:
baseline
fullinfo
datamodel

[1] 75.19231

[1] 74.05769

[1] 73.76923

In [249]:
#Baseline Team
t = team[as.logical(suggestion),]
t = t[c("Rider", "Team", "ID")]
t[order(t$Rider),]

   Rider              Team             ID
1  amador andrey      INEOS Grenadiers  432
3  bernal egan        INEOS Grenadiers 5672
10 ganna filippo      INEOS Grenadiers 5943
15 kwiatkowski michal INEOS Grenadiers 1981
17 moscon gianni      INEOS Grenadiers 5001
19 pidcock thomas     INEOS Grenadiers 6501
28 thomas geraint     INEOS Grenadiers 1074
29 van baarle dylan   INEOS Grenadiers 3382

In [246]:
#The riders picked by us
s = selection[c("Rider", "Team", "ID")]
s[order(s$Rider),]

   Rider                Team             ID
3  bernal egan          INEOS Grenadiers 5672
5  castroviejo jonathan INEOS Grenadiers 1908
16 martinez daniel      INEOS Grenadiers 3763
17 moscon gianni        INEOS Grenadiers 5001
19 pidcock thomas       INEOS Grenadiers 6501
20 porte richie         INEOS Grenadiers 1932
24 rowe luke            INEOS Grenadiers 2551
27 swift ben            INEOS Grenadiers  797

In [247]:
team_top5[order(team_top5$Rider),]

      Rider                Team             ID   selected
21572 carapaz richard      INEOS Grenadiers 5957 1
21632 castroviejo jonathan INEOS Grenadiers 1908 1
21693 geoghegan hart tao   INEOS Grenadiers 3924 1
21992 kwiatkowski michal   INEOS Grenadiers 1981 1
21717 porte richie         INEOS Grenadiers 1932 1
22010 rowe luke            INEOS Grenadiers 2551 1
22443 thomas geraint       INEOS Grenadiers 1074 1
21930 van baarle dylan     INEOS Grenadiers 3382 1